.App {
  text-align: left;
  margin:20px;
  color: white;
}

.smallText {
  color: gray;
  margin-right: 15px
}

.genre{
  display:flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.header{
  display:flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.movieImg {
  height:200px;
  width: 150px;
  object-fit:fill;

}

.details {
  width: 500px;
  display:flex;
  flex-direction: column;
  margin-left: 30px;
  align-items: flex-start;
}

.details h1{
  margin: 0;
  color:brown 
}

.details p {
  margin-top: 5px;
  color: gray; 
}